<div class="card-category" style="height:300px;background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/5662857/pexels-photo-5662857.png)">
  <%= @bookmark.comment %>
</div>
<div class="container">
  <div class="row ">
    <div class="col-md-12 mt-2">
      <article class="d-flex justify-content-between mt-3">
        <h1><%= @bookmark.comment %></h1>
      </article>
    </div>
  </div>
</div>
